@using Bootstrap.Components
@model IEnumerable<Bootstrap.Models.TreeNode>

<div>
    <div>
        <input type="text" class="selected-folder" />
        <button type="button">...</button>
    </div>
</div>

@section Scripts
    {
    <script>
        $(function() {
            $.ajax("@Url.Action("TreeData","TreeView")")
                .done(function(resp) {
                    $("#bsTree").treeview({
                        data: resp
                    });
                })
                .fail(function(error) {
                    console.log(error);
                });
        });
    </script>
}

